<div class="container-fluid bg">
    <br>
    <div class="row">
        <div class="col-sm-6" id="center">
            <h3>FLOW TECH</h3>
            <div class="row">
                <div class="col-sm-4">
                        <hr style="border:2px solid black;">
                </div>
            </div>
            <h5>Pumps and Motors</h5>
        </div>
        <div class="col-sm-6" id="responsive">
            <div class="card" id="login">
                <div class="card-body">
                    <div class="col-sm-12" style="text-align:center;">
                        <h5 style="font-size:18px;font-weight: 800;color:#303F9F">
                            <img src="./assets/images/logo-3.png" style="height:40px" alt="IMG"></h5>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <br>
                            <mat-form-field>
                                <input matInput  [(ngModel)]="model.Username" name="Username" placeholder="User Name">
                            </mat-form-field>
                            <br>
                            <br>
                            <mat-form-field>
                                <input type="password" matInput [(ngModel)]="model.Password" name="Password"  placeholder="Password">
                            </mat-form-field>
                        </div>
                        <hr>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <button mat-raised-button (click)="login()" style="color:white;background-color:black;border-radius:5px;width:100%">LOGIN
                            </button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <button mat-raised-button style="color:white;background-color:#303F9F;border-radius:5px;width:100%">SIGN IN</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <app-spinner [showProgress]='!isLoading'></app-spinner>
</div>

<!--  -->