<div class="container-fluid bg1">
    <div class="row">
      <div class="col-sm-12" id="responsive">
        <div class="new" id="center">
          <div class="card" id="mainbox" [class.fullScreen]="screenfullClicked">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6" style="padding-top:5px">
                  <h6 id="h1">DashBoard</h6>
                </div>
              </div>
              <hr style="margin-top:0.5rem">
  
              <div class="row" style="margin-top:2%">
                <div class="col-sm-3">
                  <div class="card" style="width:100%;height:100%">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-4">
                          <i class="material-icons mmaterial-icons" style="font-size:65px;border-radius:0px">
                            list
                          </i>
                        </div>
                        <div class="col-sm-6">
                          <h5>
                            Purchase
                          </h5>
                          <p>List</p>
  
                        </div>
                        <div class="col-sm-2">
                          <div style="margin-left:45%">
                            <button mat-fab routerLink="/PurchaseDetails" color="primary">
                              <mat-icon aria-label="add">send</mat-icon>
                            </button>
                          </div>
                        </div>
  
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card" style="width:100%;height:100%">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-4">
                          <i class="material-icons mmaterial-icons" tyle="font-size:65px;border-radius:0px">
                            list
                          </i>
                        </div>
                        <div class="col-sm-6">
                          <h5>
                            Sales
                          </h5>
                          <p>List</p>
  
                        </div>
                        <div class="col-sm-2">
                          <div style="margin-left:45%">
                            <button mat-fab routerLink="/SalesDetails" color="warn">
                              <mat-icon aria-label="add">send</mat-icon>
                            </button>
                          </div>
                        </div>
  
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card" style="width:100%;height:100%">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-4">
                          <i class="material-icons mmaterial-icons" tyle="font-size:65px;border-radius:0px">
                            list
                          </i>
                        </div>
                        <div class="col-sm-6">
                          <h5>
                            Inventory
                          </h5>
                          <p>List</p>
                        </div>
                        <div class="col-sm-2">
                          <div style="margin-left:45%">
                            <button mat-fab routerLink="/InventoryList" color="primary">
                              <mat-icon aria-label="add">send</mat-icon>
                            </button>
                          </div>
                        </div>
  
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card" style="width:100%;height:100%">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-4">
                          <i class="material-icons mmaterial-icons" tyle="font-size:65px;">
                            list
                          </i>
                        </div>
                        <div class="col-sm-6">
                          <h5>Debtors</h5>
                          <p>List</p>
                        </div>
                        <div class="col-sm-2">
                          <div style="margin-left:45%">
                            <button mat-fab routerLink="/DebtorsList" color="accent">
                              <mat-icon aria-label="add">send</mat-icon>
                            </button>
                          </div>
                        </div>
  
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="col-sm-3" style="margin-top:2%">
                  <div class="card" style="width:100%;height:100%">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-4">
                          <i class="material-icons mmaterial-icons" tyle="font-size:65px;border-radius:0px">
                            list
                          </i>
                        </div>
                        <div class="col-sm-6">
                          <h5>
                            Bill of Material
                          </h5>
                          <!-- <p></p> -->
                        </div>
                        <div class="col-sm-2">
                          <div style="margin-left:45%">
                            <button mat-fab routerLink="/DublicateBillList" color="primary">
                              <mat-icon aria-label="add">send</mat-icon>
                            </button>
                          </div>
                        </div>
  
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="col-sm-3" style="margin-top:2%">
                  <div class="card" style="width:100%;height:100%">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-4">
                          <i class="material-icons mmaterial-icons" tyle="font-size:65px;border-radius:0px">
                            list
                          </i>
                        </div>
                        <div class="col-sm-6">
                          <h5>
                            Views
                          </h5>
                          <p>List</p>
                        </div>
                        <div class="col-sm-2">
                          <div style="margin-left:45%">
                            <button mat-fab routerLink="/DublicateBillList" color="primary">
                              <mat-icon aria-label="add">send</mat-icon>
                            </button>
                          </div>
                        </div>
  
                      </div>
                    </div>
                  </div>
                </div>
  
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>